<ion-view view-title="Shared files">
  <ion-content class="padding">

    <button class="button button-block button-calm icon-right ion-ios-download-outline" ng-click="upload()">
      Open file picker
    </button>


    <div class="list">
      <div ng-repeat="(key, cat) in importedFilesByCat">
        <div class="item item-divider">
          {{getTitleByGroupId(key)}}
        </div>

        <a ng-repeat="doc in cat" class="item item-thumbnail-left" href="#">
          <img ng-src="{{doc.thumb}}">
          <h2>{{doc.title}}</h2>
          <p>{{::moment(doc.date).fromNow()}}</p>
          <p>Size: {{doc.size}}</p>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
