<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Classify document</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeUpload()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-tense">
      <div>
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="{{uploadingDoc.thumb}}">
          <h2>{{uploadingDoc.title}}</h2>
          <p>{{::moment(uploadingDoc.date).fromNow()}}</p>
          <p>Size: {{uploadingDoc.size}}</p>
        </a>
      </div>
    </div>
    <div class="list list-tense" ng-if="uploadingDoc.categoryType">
        <a class="item item-icon-right" href="#"  ng-click="removeUploadingDocCatType(cat)">
          {{uploadingDoc.categoryType.title}}
          <i class="icon ion-close-round"></i>
        </a>
    </div>
    <div class="list list-tense" ng-if="uploadingDoc.categoryType && uploadingDoc.documentType">
      <a class="item item-icon-right" href="#"  ng-click="removeUploadingDocDocType(cat)">
        {{uploadingDoc.documentType.title}}
        <i class="icon ion-close-round"></i>
      </a>
    </div>
    <div class="padding">
      <button class="button button-block button-calm"
              ng-click="confirmUploadingDoc()"
              ng-if="uploadingDoc.categoryType && uploadingDoc.documentType">
        Confirm
      </button>

    </div>


    <!--Select cat-->
    <div class="list " ng-if="!uploadingDoc.categoryType">
      <div class="item item-divider">
        Select file catigory
      </div>
      <div >
        <a class="item" href="#" ng-repeat="cat in categoriesService" ng-click="setUploadingDocCatType(cat)">
          {{cat.title}}
        </a>
      </div>
    </div>

      <!--Select cat-->
      <div class="list" ng-if="uploadingDoc.categoryType && !uploadingDoc.documentType">
        <div class="item item-divider">
          Select doc catigory
        </div>
        <div >
          <a class="item" href="#" ng-repeat="doc in uploadingDoc.categoryType.documents" ng-click="setUploadingDocDocType(doc)">
            {{doc.title}}
          </a>
        </div>
      </div>



  </ion-content>
</ion-modal-view>
